<!DOCTYPE html>
<html>
<head>
    <title>Conditionals</title>
</head>
<body>

    <h2>Voter Eligibility</h2>

    {% if age >= 18 %}
        <p>You are eligible to vote</p>
    {% else %}
        <p>You are not eligible to vote</p>
    {% endif %}

    <h2>Admin Dashboard</h2>

    {% if user.role == "admin" %}
        <p>Welcome Jarvis</p>
    {% else %}
        <p>Welcome User</p>
    {% endif %}

    <h2>Student Results</h2>

    {% for mark in marks %}

        {% if mark >= 40 %}
            <p>
                {{ mark }} - Pass
            </p>
        {% else %}
            <p>
                {{ mark }} - Fail
            </p>
        {% endif %}

    {% endfor %}

    <h2>Stock Status</h2>

    {% if stock_count > 0 %}
        <p>In Stock</p>
    {% else %}
        <p>Out of Stock</p>
    {% endif %}

    <h2>Number Check</h2>

    {% if n % 2 == 0 %}
        <p>{{ n }} is Even</p>
    {% else %}
        <p>{{ n }} is Odd</p>
    {% endif %}

    <h2>Login Status</h2>

    {% if is_logged_in %}
        <button>Logout</button>
    {% else %}
        <button>Login</button>
    {% endif %}

</body>
</html>